{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center">
            <h1 class="mb-4">Welcome to the Stocks Page</h1>
            <div class="d-grid gap-3">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Sign In</a>
                <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}
